<form class="example-form">
    <h2 mat-dialog-title>Edit a movie</h2>
    <mat-dialog-content>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Movie title</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Amount of episodes</mat-label>
                <input type="number" matInput >
            </mat-form-field>
        </div>
        <mat-form-field class="example-full-width">
            <mat-label>Movie Information Url</mat-label>
            <input matInput>
        </mat-form-field>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Movie watch Url</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="accent" mat-dialog-close>Cancel</button>
        <button mat-raised-button disabled mat-raised-button color="primary" click="addList()">Submit</button>
    </mat-dialog-actions>
</form>