<div>
  <h2>My Movie Watch List</h2>
</div>
<div class=" addbtn">
  <button mat-raised-button color="primary" (click)="detailsDialog()">Add Movie</button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Episodes </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell style="text-align: left;" *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Episodes Column -->
  <ng-container matColumnDef="episodes">
    <th mat-header-cell *matHeaderCellDef> Episodes </th>
    <td mat-cell *matCellDef="let element"> {{element.episodes}} </td>
  </ng-container>

  <!-- Info url Column -->
  <ng-container matColumnDef="infoUrl">
    <th mat-header-cell *matHeaderCellDef> Info url </th>
    <td mat-cell *matCellDef="let element"> <a href="{{element. infoUrl}} " target="_blank">Movie info</a> </td>
  </ng-container>

  <!-- Watch url Column -->
  <ng-container matColumnDef="watchUrl">
    <th mat-header-cell *matHeaderCellDef> Watch url </th>
    <td mat-cell *matCellDef="let element"> <a href="{{element.watchUrl}} " target="_blank">watch url</a> </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <a matTooltip="Edit">
        <mat-icon color="accent" (click)="detailsDialog()">edit</mat-icon>
      </a>&nbsp;&nbsp;
      <a matTooltip="Delete">
        <mat-icon color="accent">delete</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
