* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  padding-top: 60px;
  color: rgba(277, 277, 277, 0.7);
  background-color: #0d073d;
  text-align: center;
  height: 460px;
  position: relative;
}
.container h1 {
  color: rgba(277, 277, 277, 0.8);
  padding-bottom: 12px;
}
.container p {
  font-size: 12px;
  line-height: 1.5;
}
.content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  width: 220px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.card:hover {
  width: 240px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.7);
  margin: -12px;
}
.title {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(277, 277, 277, 0.7);
  padding: 12px;
}
.card-body {
  text-align: center;
  padding: 20px;
}
.card-body > span > small {
  font-size: 60px;
}
.card-body > span > small > sup {
  font-size: 16px;
}
hr {
  width: 90%;
  margin: 0 auto;
}
.data {
  padding: 20px 12px;
  font-size: 12px;
}
.footer {
  text-align: center;
  padding: 12px;
}
.footer .btn {
  border: none;
  background-color: #17a2b8;
  padding: 12px;
  color: #f7f7f7;
  border-radius: 5px;
  cursor: pointer;
}
.questions {
  padding-top: 200px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}
.questions h2 {
  color: rgba(0, 0, 0, 0.7);
  padding: 24px 0;
}
.faq {
  display: flex;
  justify-content: space-between;
}
.qstn {
  padding: 24px 112px;
  text-align: left;
}
.qstn h4 {
  color: rgba(0, 0, 0, 0.7);
}
.qstn p {
  font-size: 14px;
  line-height: 1.5;
}
